/* 
    na minha tela eles não ficaram lado a lado
    Tente alinhar com o que aprendemos de flexbox. Se tiver dúvida é só chamar
*/
.foto{
    width: 225px;
    height: 225px;
    border: 5px solid red;
}

.texto{
    float: right;
    text-align: justify;
    margin: 15px;
    width: 20%;
    padding-right: 250px;

}